@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,700&family=Shippori+Antique&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  .cal_name{
display: contents;
margin: auto;
color: rgba(220, 230, 30, 0.927);
font-size: 33px;
  }
  section {
    background-color: rgb(5, 16, 29);
    min-height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 90%;
    max-width: 400px;
    background-color: rgba(14, 14, 196, 0.578);
    border-radius: 8px;
    overflow: hidden;
  }
  .display {
    background-color: rgba(228, 226, 231, 0.831);
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
  }
  .display-1 {
    opacity: 0.4;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
  }
  .temp-result {
    position: absolute;
    bottom: 0;
    left: 10;
    font-size: 20px;
    color:black;
    
  }
  .all_button {
    color: rgb(18, 1, 1);
    display: grid;
   
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  }
  .all-clear{
    background-color: rgb(211, 133, 16);
  }
  .operation{
    background-color: aqua;
  }
  .number{
    background-color: aqua;
  }
  .last-entity-clear{
    background-color: aqua;
  }
  .equal{
    background-color:aqua ;
  }
  
  .button {
    border: 0.5px solid rgba(17, 1, 1, 0.909);
    display: inline-block;
    height: 100px;
    width: 100%;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
  }
  .button:hover {
    background-color: rgb(24, 169, 58);
  }
  .btn-0 {
    grid-column: 1/3;
  }
  
